header{
    background-color: aquamarine;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}
.html{
    background-color: bisque;
    width: 100%;
    position: sticky;
    top: 5vh;
    box-sizing: border-box;
    padding: 20px;
    
}

.java{
    background-color: bisque;
    width: 100%;
    position: sticky;
    top: 5vh;
    padding: 20px;
}
.css{
    background-color: bisque;
    width: 100%;
    position: sticky;
    top: 5vh;
    padding: 20px;
}